<h1 class="bg-stone-400 text-9xl">Comments</h1>

<div class="bg-yellow-100">
<turbo-frame id="comments-list">
    <ul>
    <%= render partial: 'shared/comment', collection: @comments, as: :comment %>
    </ul>
</turbo-frame>
</div>

<%= form_with url: comments_path, method: :post, data: { turbo_stream: true } do |f| %>
    <div>
        <%= f.text_field :content , placeholder: "Enter your comment..."%>
        <%= f.submit "Add Comment"%>
    </div>
<% end %>
