<h1>Articles</h1>

<div data-controller="article-fetcher">
  <button data-action="click->article-fetcher#fetchData">Load Articles</button>
</div>
<turbo-frame  id="article-list">
  <ul>
  <%= render partial: 'article', collection: @articles, as: :article %>
  </ul>
</turbo-frame>
