<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HotWire_learn</title>
</head>
<body class="bg-slate-600">
    <article class="prose">
        <h1>Choose Your Mood Color</h1>
        <%# turboフレームを使用 %>
        <turbo-frame id="color-display" data-turbo-cache="false">
            <p>No color selected</p>
        </turbo-frame>
    </article>

<%= render 'shared/form'%>



</body>

</html>
