<div data-controller="post">
    <form data-action="submit->post#addTodoList">

        <input type="text" data-post-target="input" placeholder="ここを押してね">
        <button type="submit">ボタン</button>
    </form>
    <ul data-post-target="nameList">
        <li>inoueyuji</li>
    </ul>
</div>
