  <form data-action="submit->memo-form#submit" data-memo-form-target="form" method="post" action="/memos">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="text" name="memo[content]" placeholder="メモを入力" required>
    <button type="submit">メモを追加</button>
  </form>

  <ul id="memo-list">
    <%= render @memos %>
  </ul>

